# Pick your favorite LLM provider(s), out of Groq, Anthropic, OpenAI, and HuggingFace, and models, and add your API keys here. 
# Make sure to keep this file secure and do not share it publicly, as it contains sensitive information.
ANTHROPIC_API_KEY= sk-ant-api03-AzRk6HluaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_API_KEY= sk-proj-l3iviXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXJvC4gwDo7H-rhs4HXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-CkA
GROQ_API_KEY= gsk_vYfXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXisfd3bsIa
HUGGINGFACE_API_KEY= hf_cNGUXXXXXXXXXXXXXXXXXXdfwFkjWUItmXXXXXXX

# You can also specify the model versions you 
# want to use for basic and advanced LLMs. 
ANTHROPIC_BASIC_LLM= claude-haiku-4-5-20251001
ANTHROPIC_ADVANCED_LLM= claude-opus-4-5-20251101
ANTHROPIC_VERTEX_ADVANCED_MODEL= claude-opus-4-6@default
ANTHROPIC_VERTEX_MAX_OUTPUT_TOKENS= 5000 #(roughly equivalent to 3.5k words)
ANTHROPIC_VERTEX_LOCATION= europe-west1
HUGGINGFACE_BASIC_MODEL= Qwen/Qwen3.5-35B-A3B
HUGGINGFACE_ADVANCED_MODEL= Qwen/Qwen3.5-35B-A3B

ALL_REPO_READ_ONLY_TOKEN=github_pat_11A6ARK2I0PXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX4MDQxwZQQEIXXSMlsWKH3r
REPOSITORY_URL_FEDEX=https://github.com/xxxxxxxxxxxxxxxx_fedex

PTV_XLOCALE_URL = http://xxxxxxxxxxxxxxxxxxxxxxxxx.tnt:50020/xlocate/rs/XLocate/findAddress
